.articles-block {
    margin-bottom: 100px;

    .tns-nav {
        margin-top: 72px;
        display: inline-flex;
        text-align: left;
    }

    .tns-outer {
        position: relative;
    }

    .tns-controls {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        bottom: -13px;

        button[data-controls="next"] {
            margin-left: 10px;
        }
    }
    &__inner {
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__heading {
    }
    &__title {
        h2 {
            margin: 0;
        }
    }
    &__desc {
        margin-top: 6px;
    }
    &__btn {
        margin-left: 15px;
    }
    &__items {
        margin-top: 50px;
    }
    &__item {
    }
    &__content {
        padding: 40px;
        border-radius: var(--gr_wrap_radius);
        background: var(--on_gr_bg_bg);

        position: relative;
    }
    &__date {
        font-size: calc(17px * var(--font1Ratio));
        margin-bottom: 20px;
    }
    &__name {
        margin: 0;

        a {
            text-decoration: none;
            color: inherit;
        }
    }
    &__announcement {
        margin-top: 20px;
        font-size: calc(17px * var(--font1Ratio));
    }
}