.burger-block {
    display: none;

    @media all and (max-width: 1260px) {
        display: block;
        margin-top: 20px;
    }

    &__inner {
    }
    &__btn {
        @extend .gr-icon-btn-1;
    }
}