.faq-block {
    &__inner {
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__heading {
        @media all and (max-width: 639px) {
            width: 100%;
        }
    }
    &__title {
    }
    &__desc {
    }
    &__btn {
    }
    &__items {
        margin-top: 50px;

        @media all and (max-width: 1260px) {
            margin-top: 35px;
        }

        @media all and (max-width: 639px) {
            margin-top: 20px;
        }
    }
    &__accordion {
    }
    &__item {
        margin-top: 20px;

        @media all and (max-width: 639px) {
            margin-top: 14px;
        }

        &:first-child {
            margin-top: 0;
        }

        &.active {
            .faq-block__arrow svg {
                transform: rotate(180deg);
            }

            .faq-block__question:after {
                opacity: 1;
            }
        }
    }
    &__question {
        display: flex;
        text-decoration: none;
        padding: 24px 24px 24px 40px;
        align-items: center;
        justify-content: space-between;
        background: var(--on_gr_bg_bg);
        border-radius: var(--gr_wrap_radius);
        position: relative;

        @media all and (max-width: 1260px) {
            padding: 20px 20px 20px 35px;
        }

        @media all and (max-width: 1023px) {
            padding: 20px 20px 20px 30px;
        }

        @media all and (max-width: 639px) {
            padding: 20px;
            flex-direction: column;
            align-items: flex-start;
        }

        &:before,
        &:after {
            content: '';
            width: 30px;
            height: 30px;
            background: var(--on_gr_bg_bg);
            border-radius: var(--gr_wrap_radius);
            left: 61px;
            position: absolute;
            transform: rotate(45deg);

            @media all and (max-width: 1260px) {
                left: 56px;
            }

            @media all and (max-width: 639px) {
                left: 50%;
                margin-left: -15px;
            }
        }

        &:before {
            bottom: -10px;
            z-index: 1;
            opacity: 0;

            display: none;
        }
        
        &:after {
            bottom: -12px;
            opacity: 0;
            z-index: -1;
        }

        h5 {
            margin: 0;
        }
    }
    &__arrow {
        margin-left: 15px;

        @media all and (max-width: 639px) {
            margin: 20px 0 0;
            width: 100%;
        }

        .gr-svg-icon {
            display: none;
            &.gr_small_icon {
                display: block;
            }
        }
    }
    &__answer {
        display: none;
    }
    &__text {
        padding: 40px 40px 24px;

        @media all and (max-width: 1260px) {
            padding: 35px 35px 20px;
        }

        @media all and (max-width: 639px) {
            padding: 35px 20px 14px;
        }
    }
}