.footer {
    background: var(--gr_additional);
    color: var(--on_gr_additional_text);

    &__inner {
        padding: 45px 0;

        @media all and (max-width: 1420px) {
            padding: 15px 0;
        }

        @media all and (max-width: 1260px) {
            padding: 25px 0;
        }

        @media all and (max-width: 1023px) {
            padding: 0;
        }

        @media all and (max-width: 639px) {
            padding: 12px 0;
        }
    }

    &__item {
        padding: 45px 0;
        box-shadow: 0 1px 0 0 var(--on_gr_additional_bg_1);

        @media all and (max-width: 1260px) {
            padding: 35px 0;
            flex-wrap: wrap;
        }

        @media all and (max-width: 1023px) {
            padding: 30px 0;
        }

        @media all and (max-width: 639px) {
            flex-direction: column;
            padding: 18px 0;
        }

        &:last-child {
            box-shadow: none;
        }
    }
    &__menu {
        @media all and (max-width: 1260px) {
            display: none;
        }
    }
    &__contacts {
        display: flex;
        justify-content: space-between;
    }
    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__copyright {
        display: flex;
        justify-content: space-between;
        font-size: calc(16px * var(--font1Ratio));

        a {
            color: inherit;
        }
    }


    .site-menu {
        &__list {
            width: 100%;
    
            & > li {
                display: inline-block;
                margin-right: 30px;
    
                &:last-child {
                    margin-right: 0;
                }
                & > ul {
                    display: none;
                }
            }
    
            a {
                text-decoration: none;
                font-size: calc(18px * var(--font2Ratio));
                font-family: var(--font2);
                font-weight: var(--font2_600);
                color: var(--on_gr_additional_text_7);
                transition: var(--siteTransition);
                
                &:focus,
                &:hover {
                    color: var(--on_gr_additional_text);
                }
            }
        }
    }


    .footer-title {
        font-size: calc(16px * var(--font1Ratio));
        margin-bottom: 10px;
    }
    .phones-block {
        flex: 1 1 33.333%;
        padding-right: 10px;

        @media all and (max-width: 1260px) {
            flex: 1 1 50%; 
        }

        @media all and (max-width: 639px) {
            flex: 1 1 100%; 
            padding: 0;
            margin-bottom: 20px;
        }

        &__title {
        }
        &__items {
            display: flex;
            flex-direction: column;
        }
        &__item {
            display: inline-flex;
        }
        &__item-left {
            display: inline-flex;
            flex-wrap: wrap;
            max-width: 94px;
            margin-right: 14px;
        }
        &__item-right {
        }
        &__link {
            display: inline-flex;
            text-decoration: none;
            width: 24px;
            height: 24px;
            margin: 2px;
    
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__number {
            display: inline-flex;
            text-decoration: none;
            font-size: calc(20px * var(--font1Ratio));
            font-family: var(--font2);
            font-weight: var(--font2_700);
            color: var(--on_gr_additional_text);

            @media all and (max-width: 1260px) {
                font-size: calc(18px * var(--font1Ratio));
            }

            @media all and (max-width: 639px) {
                font-size: calc(16px * var(--font1Ratio));
            }
        }
    }
    .schedule-block {
        flex: 1 1 33.333%;
        padding: 0 10px;

        @media all and (max-width: 1260px) {
            flex: 1 1 50%; 
            padding: 0 0 0 10px;   
        }

        @media all and (max-width: 639px) {
            flex: 1 1 100%; 
            padding: 0;
            margin-bottom: 20px;
        }

        &__title {
        }
        &__items {
        }
        &__item {
            display: flex;
            font-size: calc(16px * var(--font1Ratio));
        }
        &__text {
        }
    }
    .address-block {
        flex: 1 1 33.333%;        
        padding-left: 10px;

        @media all and (max-width: 1260px) {
            flex: 1 1 100%;    
            padding: 0;
            margin-top: 24px;
        }

        @media all and (max-width: 639px) {
            margin: 0;
        }

        &__title {
        }
        &__body {
            font-size: calc(16px * var(--font1Ratio));
        }
    }
    

    .social-block {
        width: 100%;
        flex: 1 0 190px;
        padding-right: 10px;

        @media all and (max-width: 1260px) {
            flex: 1 1 50%;
        }

        @media all and (max-width: 639px) {
            flex: 1 1 100%; 
            padding: 0;
            margin-bottom: 20px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: 0 -5px;

            @media all and (max-width: 639px) {
                justify-content: center;
                margin: 0;
            }

            li {
                font-size: 0;
                a {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 0;
                    width: 50px;
                    height: 50px;
                    margin: 5px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                    
                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .literary-property {
        padding: 0 10px;

        @media all and (max-width: 1260px) {
            flex: 1 1 100%;  
            order: -1;  
            padding: 0;
            margin-bottom: 24px;
        }

        @media all and (max-width: 639px) {
            margin-bottom: 20px;
        }

        &__text {
            font-size: calc(16px * var(--font1Ratio));
        }
    }
    .link-top-btn {
        padding-left: 10px;

        @media all and (max-width: 639px) {
            width: 100%;
            padding: 0;

            button {
                width: 100%;
            }
        }

        .gr-svg-icon {
            display: none;
            
            &.gr_small_icon {
                display: block;
            }
        }
    }


    .company-name {
        flex: 1 0 33.333%;
        display: inline-flex;
        align-items: center;
        padding: 0 10px 0 0;

        @media all and (max-width: 1260px) {
            flex: 1 1 50%;    
            padding: 0;
        }

        @media all and (max-width: 639px) {
            flex: 1 1 100%; 
            padding: 0;
            margin-bottom: 20px;
            justify-content: center;
        }
    }
    .counter-block {
        flex: 1 0 33.333%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;

        @media all and (max-width: 1260px) {
            flex: 1 1 100%;    
            padding: 0;
            margin-top: 35px;
            order: 1;
        }

        @media all and (max-width: 639px) {
            flex: 1 1 100%; 
            padding: 0;
            margin: 0;
            justify-content: center;
        }
    }
    .mega-copyright {
        flex: 1 0 33.333%;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 0 0 10px;

        @media all and (max-width: 1260px) {
            flex: 1 1 50%;    
            padding: 0;
        }

        @media all and (max-width: 639px) {
            flex: 1 1 100%; 
            margin-bottom: 20px;
            justify-content: center;
            text-align: center;
        }
    }
}
