.gallery-block {
    padding: 0;
    background: var(--on_gr_bg_bg);

    .tns-ovh {
        overflow: visible;
    }

    &__inner {
        overflow: hidden;
        padding: 100px 0;

        @media all and (max-width: 1420px) {
            padding: 60px 0;
        }
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__heading {
    }
    &__title {
        h2 {
            margin: 0;
        }
    }
    &__desc {
        margin-top: 6px;
    }
    &__btn {
        margin-left: 15px;
    }
    &__items {
        margin-top: 50px;
    }
    &__item {
    }
    &__content {
    }
    &__img {
        position: relative;
        padding-top: 100%;
        margin-bottom: 30px;
        border-radius: var(--gr_wrap_radius);
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__name {
        h5 {
            margin: 0;
        }
    }

    &__preview {
        margin-top: 6px;
        font-size: calc(16px * var(--font1Ratio));
    }

    .show-text {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 2px dashed var(--on_gr_bg_border2);
        padding: 20px;

        font-size: calc(16px * var(--font1Ratio));
    }
}