.partners-block {
    background: var(--on_gr_bg_bg);

    &__inner {
    }
    
    &__content {
        padding: 100px 0;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__heading {
    }
    &__title {
        h2 {
            margin: 0;
        }
    }
    &__desc {
        margin-top: 6px;
    }
    &__btn {
        margin-left: 15px;
    }
    &__items {
        margin-top: 50px;
        text-align: left;
    }
    &__item {
    }
    &__img {
        border-radius: var(--gr_wrap_radius);
        box-shadow: inset 0 0 0 1px var(--on_gr_bg_border2_07);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        width: 100%;
        padding-top: 43%;

        img {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            z-index: -1;
        }
    }

    .show-text {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 2px dashed var(--on_gr_bg_border2);
        padding: 20px;

        font-size: calc(16px * var(--font1Ratio));
    }
}