.partners-block {
    background: var(--on_gr_bg_bg);
    margin-bottom: 100px;

    .tns-nav {
        margin-top: 72px;
        display: inline-flex;
        text-align: left;
    }

    .tns-outer {
        position: relative;
    }

    .tns-controls {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        bottom: -13px;

        button[data-controls="next"] {
            margin-left: 10px;
        }
    }

    &__inner {
    }
    
    &__content {
        padding: 100px 0;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__heading {
    }
    &__title {
        h2 {
            margin: 0;
        }
    }
    &__desc {
        margin-top: 6px;
    }
    &__btn {
        margin-left: 15px;
    }
    &__items {
        margin-top: 50px;
        text-align: left;
    }
    &__item {
    }
    &__img {
        border-radius: var(--gr_wrap_radius);
        border: 1px solid var(--on_gr_bg_border2_07);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;

        img {
            
        }
    }

    .show-text {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 2px dashed var(--on_gr_bg_border2);
        padding: 20px;

        font-size: calc(16px * var(--font1Ratio));
    }
}