.partners-block {
    background: var(--on_gr_bg_bg);

    &__inner {
    }
    
    &__content {
        padding: 100px 0;

        @media all and (max-width: 1420px) {
            padding: 60px 0;
        }

        @media all and (max-width: 1023px) {
            padding: 30px 0;
        }

        @media all and (max-width: 639px) {
            padding: 20px 0;
        }
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__heading {
        @media all and (max-width: 639px) {
            width: 100%;
        }
    }
    &__title {
    }
    &__desc {
    }
    &__btn {
        margin-left: 15px;

        @media all and (max-width: 1023px) {
            display: none;        
        }

        &_bottom {
            @media all and (min-width: 1024px) {
                display: none;
            }

            @media all and (max-width: 1023px) {
                display: inline-flex;     
                width: 100%;   
                margin: 30px 0 0;
            }

            @media all and (max-width: 639px) {
                margin-top: 20px;
            }
        }
    }
    &__items {
        margin-top: 50px;
        text-align: left;

        @media all and (max-width: 1260px) {
            margin-top: 35px;
        }

        @media all and (max-width: 1023px) {
            margin-top: 30px;
        }

        @media all and (max-width: 639px) {
            margin-top: 20px;
        }
    }
    &__item {
    }
    &__img {
        border-radius: var(--gr_wrap_radius);
        box-shadow: inset 0 0 0 1px var(--on_gr_bg_border2_07);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        width: 100%;
        padding-top: 43%;

        img {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            z-index: -1;
        }
    }

    .show-text {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 2px dashed var(--on_gr_bg_border2);
        padding: 20px;

        font-size: calc(16px * var(--font1Ratio));
    }
}