.reviews-block {
    margin-bottom: 100px;

    .tns-nav {
        margin-top: 72px;
        display: inline-flex;
        text-align: left;
    }

    .tns-outer {
        position: relative;
    }

    .tns-controls {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        bottom: -13px;

        button[data-controls="next"] {
            margin-left: 10px;
        }
    }

    &__inner {
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__heading {
    }
    &__title {
        h2 {
            margin: 0;
        }
    }
    &__desc {
        margin-top: 6px;
    }
    &__btn {
        margin-left: 15px;
    }

    &__items {
        margin-top: 50px;
    }
    &__item {
    }
    &__content {
    }
    &__body {
        padding: 40px;
        border-radius: var(--gr_wrap_radius);
        background: var(--on_gr_bg_bg);

        position: relative;
        margin-bottom: 45px;

        &:after {
            content: '';
            width: 0;
            height: 0;
            border: 15px solid transparent;
            border-top-color: var(--on_gr_bg_bg);
            position: absolute;
            left: 31px;
            bottom: -30px;
        }
    }
    &__icon {
        font-size: 0;
        margin-bottom: 24px;

        i {
            display: inline-flex;
        }
        svg {
            fill: var(--gr_primary_3);
        }
    }
    &__text {
        color: var(--on_gr_bg_sec_text);
    }
    &__rating {
        margin-bottom: 24px;
    }
    &__stars {
    }
    &__preview {
        margin-top: 6px;
        font-size: calc(17px * var(--font1Ratio));
        color: var(--on_gr_bg_sec_text);
    }
    &__name {
        h5 {
            margin: 0;
        }
    }
}