.reviews-block {

    &__inner {
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__heading {
    }
    &__title {
        h2 {
            margin: 0;
        }
    }
    &__desc {
        margin-top: 6px;
    }
    &__btn {
        margin-left: 15px;
    }

    &__items {
        margin-top: 50px;
    }
    &__item {
    }
    &__content {
    }
    &__body {
        padding: 40px;
        border-radius: var(--gr_wrap_radius);
        background: var(--on_gr_bg_bg);

        position: relative;
        margin-bottom: 45px;

        &:before {
            content: '';
            width: 30px;
            height: 30px;
            background: var(--on_gr_bg_bg);
            border-radius: var(--gr_wrap_radius);
            position: absolute;
            left: 31px;
            bottom: -10px;
            transform: rotate(45deg);
            z-index: 1;

            display: none;
        }

        &:after {
            content: '';
            width: 30px;
            height: 30px;
            background: var(--on_gr_bg_bg);
            border-radius: var(--gr_wrap_radius);
            position: absolute;
            left: 31px;
            bottom: -12px;
            transform: rotate(45deg);
            z-index: -1;
        }
    }
    &__text {
        color: var(--on_gr_bg_sec_text);
        font-size: calc(17px * var(--font1Ratio));
    }
    &__rating {
        margin-top: 24px;
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    &__stars {
        display: block;
        width: 100%;
        max-width: 5em;
        height: 1em;
        background: linear-gradient( 90deg, var(--gr_accent) var( --_score, 50% ), var(--on_gr_bg_icon_2) 0 );
        mask: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" ><path fill="var(--on_gr_bg_icon_2)" d="M16 2 L20 12 30 12 22 19 25 30 16 23 7 30 10 19 2 12 12 12 Z"/></svg>' ) 0 0/1em 1em;
    }
    &__preview {
        margin-top: 6px;
        font-size: calc(17px * var(--font1Ratio));
        color: var(--on_gr_bg_sec_text);
    }
    &__name {
        h5 {
            margin: 0;
        }
    }
}