.settings-panel {
    position: fixed;
    left: 100%;
    top: 120px;
    line-height: 28px;
    letter-spacing: normal;
    z-index: 1000;

    font-family: var(--font2);

    @media all and (max-width: 767px) {
        z-index: -10;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &.active {
        @media all and (min-width: 768px) {
            right: 0;
            left: auto;   
        }

        @media all and (max-width: 767px) {
            z-index: 1000;

            .settings-panel__inner {
                height: auto;
                opacity: 1;
                visibility: visible;
            }
            .settings-panel__btn_title {
                color: var(--on_gr_accent_text);
            }
        }
    }

    &__inner {
        background: var(--gr_bg);
        position: relative;
        border-radius: 0 0 0 var(--gr_wrap_radius);
        border: 2px solid var(--on_gr_bg_border2);
        border-right: 0;
        width: 480px;

        @media all and (max-width: 767px) {
            flex-direction: column;
            width: 100%;
            border-radius: 0;
            border: none;
            
            transition: var(--siteTransition);
            height: 0;
            opacity: 0;
            visibility: hidden;
        }
    }
    &__btn {
        position: absolute;
        top: -2px;
        left: -82px;
        width: 82px;
        height: 82px;
        background: var(--gr_accent);
        border-radius: var(--gr_wrap_radius) 0 0 var(--gr_wrap_radius);
        border: 2px solid var(--on_gr_bg_border2);
        border-right: 0;

        cursor: pointer;

        @media all and (max-width: 767px) {
            display: none;
        }

        &.active {            
            @media all and (min-width: 768px) {
                background: var(--gr_bg);
            }

            .open-icon {
                display: none;
            }
            .close-icon {
                display: inline-flex;
            }
        }
    }
    &__close {
        padding: 20px;
        display: none;

        @media all and (max-width: 767px) {
            display: block;
        }

        button {
            @extend .gr-btn-style;
            width: 100%;
            font-weight: $btn3Weight;
            font-family: $btnsFontFamily;

            font-size: 17px;
            line-height: 1.3;
            padding: 18px 30px;
        
            color: $btn3ColorDefault;
            border: $btn3BorderDefault;
            background: $btn3BackgroundDefault;
            box-shadow: $btn3ShadowDefault;
        
            svg {
                fill: $btn3ColorDefault;
            }
        
            &:hover {
                color: $btn3ColorHover;
                border: $btn3BorderHover;
                box-shadow: $btn3ShadowHover;
                background: $btn3BackgroundHover;
                
                &:before {
                    display: none;
                }
        
                svg {
                    fill: $btn3ColorHover;
                }
            }
        
            &:active {
                color: $btn3ColorActive;
                border: $btn3BorderActive;
                box-shadow: $btn3ShadowActive;
                background: $btn3BackgroundActive;
        
                &:before {
                    display: none;
                }
        
                svg {
                    fill: $btn3ColorActive;
                }
            }
        }
    }
    &__icon {       
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        &.close-icon {
            display: none;

            .gr-svg-icon {
                fill: var(--on_gr_bg_icon);  
            }
        }

        i {
            display: inline-flex;
            font-size: 0;
        }

        .gr-svg-icon {
            fill: var(--on_gr_accent_icon);

            &.gr_big_icon {
                display: inline-flex;
            }
        }
    }
    &__title {
        padding: 34px 34px 10px 40px;
        font-weight: var(--font2_700);
        font-size: 26px;
        margin-bottom: 20px;
        
        @media all and (max-width: 767px) {
            display: none;
        }
    }
    &__items {
        max-height: calc(87vh - 120px);
        padding: 0 34px 40px 40px;
        overflow-y: auto;
        
        @media all and (max-width: 767px) {
            padding: 14px;
            max-height: calc(100vh - 96px);
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        
        @media all and (max-width: 767px) {
            margin-bottom: 16px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:not(.color-setting) {
            .settings-panel__list {
                box-shadow: inset 0 0 0 2px var(--gr_accent);
                border-radius: var(--gr_wrap_radius);
                overflow: hidden;

                label {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    flex-grow: 1;

                    font-weight: var(--font2_500);
                    font-size: 18px;
        
                    @media all and (max-width: 767px) {
                        font-size: 17px;
                    }


                    &:last-child {
                        span {
                            border: 0;
                        }
                    }
                }
                span {
                    padding: 9px 10px;
                    width: 100%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    border-right: 2px solid var(--gr_accent);
                    cursor: pointer;
                }

                input:checked + span {
                    background: var(--gr_accent);
                    color: var(--on_gr_accent_text);
                } 
            }

            &.fs-setting {
                .settings-panel__list {
                    label {
                        font-size: 28px;
    
                        &:first-child {
                            font-size: 18px;
                        }
    
                        &:last-child {
                            font-size: 38px;
                        }
                    }

                    span {
                        padding: 15px;
                    }
                }
            }

            &.ffam-setting {
                .settings-panel__list {
                    label {
                        &[for=ffam_1] {
                            font-family: var(--font4);                            
                        }
                        &[for=ffam_2] {
                            font-family: var(--font3);                            
                        }
                    }
                }
            }
            
        }
        
        &.color-setting {
            .settings-panel__list {
                label {
                    width: 58px;
                    height: 58px;
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    border-radius: var(--gr_wrap_radius);
                    overflow: hidden;

                    
                    &[for=sc_0]{
                        span {
                            background: var(--Accent_for_stngs);
                            border:  10px solid var(--Primary_for_stngs);
                        }
                    }
                    &[for=sc_1]{
                        span {
                            background: #000000;
                            border:  10px solid #FFFFFF;
                        }
                    }
                    &[for=sc_2]{
                        span {
                            background: #FFFFFF;
                            border:  10px solid #000000;
                        }
                    }
                    &[for=sc_3]{
                        span {
                            background: #063462;
                            border:  10px solid #9DD1FF;
                        }
                    }
                    &[for=sc_4]{
                        span {
                            background: #A9E44D;
                            border:  10px solid #3B2715;
                        }
                    }
                    &[for=sc_5]{
                        span {
                            background: #4D4B42;
                            border:  10px solid #F7F3D6;
                        }
                    }
                }

                span {
                    display: inline-flex;
                    width: 38px;
                    height: 38px;
                    border-radius: 50%;
                    cursor: pointer;
                    position: relative;
                    z-index: 2;
                }

                ins {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: var(--gr_accent);
                    opacity: 0;
                }

                input:checked ~ ins {
                    opacity: 1;
                } 
            }
        }

        &.fs-setting,
        &.lh-setting,
        &.ls-setting,
        &.img-setting {
            .settings-panel__list {
                label {
                    width: 100%;
                    max-width: 33.333%;
                }
            }
        }

        &.ffam-setting {
            .settings-panel__list {
                label {
                    width: 100%;
                    max-width: 50%;
                }
            }
        }
    }
    &__name {
        font-size: 18px;
        font-weight: var(--font1_500);
        margin-bottom: 10px;
        
        @media all and (max-width: 767px) {
            margin-bottom: 7px;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;

        label {
            position: relative;
        }
        input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            padding: 0;
            margin: 0;
        }
    }
}


.settings-btn-mobile {
    position: relative;
    top: unset;
    left: unset;
    width: auto;
    border-radius: 0;
    border: none;

    align-items: center;
    justify-content: center;
    height: 44px;
    border-radius: var(--gr_icon_btn_radius);
    padding: 0;

    @media all and (min-width: 768px) {
        display: none;
    }

    @media all and (max-width: 767px) {
        display: inline-flex;
        position: absolute;
        top: 20px;
        right: 20px;
        left: 74px;
        z-index: 1000;
    }

    @media all and (max-width: 639px) {
        top: 10px;
        right: 10px;
        left: 64px;
    }

    &__icon {
        width: 30px;
        height: 30px;
        margin-right: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        @media all and (max-width: 639px) {
            margin-right: 10px;
        }

        &.close-icon {
            display: none;
        }

        i {
            display: inline-flex;
            font-size: 0;
        }

        .gr-svg-icon {
            width: 26px;
            height: 26px;
            fill: var(--on_gr_accent_icon);

            &.gr_big_icon {
                display: inline-flex;
            }
        }
    }

    &__title {
        color: var(--on_gr_accent_text);
        font-size: 18px;
    }
}