.settings-panel {
    position: fixed;
    left: 100%;
    top: 300px;
    z-index: 99;

    &.active {
        right: 0;
        left: auto;   

        .open-icon {
            display: none;
        }
        .close-icon {
            display: inline-flex;
        }
    }

    &__inner {
        background: var(--on_gr_bg_bg);
        position: relative;
        border-radius: 0 0 0 var(--gr_wrap_radius);
        border: 2px solid var(--on_gr_bg_border2);
        border-right: 0;
        max-width: 480px;
    }
    &__btn {
        position: absolute;
        top: -2px;
        left: -82px;
        width: 82px;
        height: 82px;
        background: var(--on_gr_bg_bg);
        border-radius: var(--gr_wrap_radius) 0 0 var(--gr_wrap_radius);
        border: 2px solid var(--on_gr_bg_border2);
        border-right: 0;

        cursor: pointer;
    }

    &__icon {       
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        &.close-icon {
            display: none;
        }

        i {
            display: inline-flex;
            font-size: 0;
        }

        .gr-svg-icon {
            fill: var(--on_gr_bg_icon);

            &.gr_big_icon {
                display: inline-flex;
            }
        }
    }
    &__title {
        padding: 34px 34px 10px 40px;
        font-family: var(--font2);
        font-weight: var(--font2_700);
        font-size: calc(26px * var(--font2Ratio));
        margin-bottom: 20px;
    }
    &__items {
        max-height: 40vh;
        padding: 14px 34px 40px 40px;
        overflow-y: auto;
    }
    &__item {
        display: flex;

    }
    &__name {
        
    }
    &__list {
    }
}