body {
    &.color_1,
    &.color_2,
    &.color_3,
    &.color_4,
    &.color_5 {
        .header__bottom {
            box-shadow: 0 -2px 0 0 var(--on_gr_bg_border2);
        }
        .main-slider__text {
            box-shadow: inset 0 0 0 2px var(--on_gr_bg_border2);
        }
        .services-block{
            &__item {
                position: relative;
                box-shadow: inset 0 0 0 2px var(--on_gr_bg_border2);
            }
            &__text {
                background: none;
            }
        }
        .reviews-block__body {
            box-shadow: inset 0 0 0 2px var(--on_gr_bg_border2);

            &:after {
                background: none;
                box-shadow: inset 0 0 0 2px var(--on_gr_bg_border2);
            }

            &:before {
                display: block;
            }
        }  

        .form-block {
            &__content {
                box-shadow: inset 0 0 0 2px var(--on_gr_bg_border2);
                background: none;
            }
            &__title {
                h2 {
                    color: var(--on_gr_bg_acc_text);
                }
            }
            &__desc {
                color: var(--on_gr_bg_acc_text);
            }

            &__icon {
                svg {
                    fill: var(--on_gr_bg_icon);
                    opacity: 0.4;
                }
            }
        }

        .articles-block__content {
            box-shadow: inset 0 0 0 2px var(--on_gr_bg_border2);
        }

        .faq-block {

            &__item {                
                &.active {
                    .faq-block__question:before {
                        opacity: 1;
                    }
                }
            }
        
            &__question {
                box-shadow: inset 0 0 0 2px var(--on_gr_bg_border2);

                &:after {
                    background: none;
                    box-shadow: inset 0 0 0 2px var(--on_gr_bg_border2);
                }

                &:before {
                    display: block;
                }
            }
        }

        .advantage-block {
            &__item {
                box-shadow: inset 0 -2px 0 0 var(--on_gr_bg_border2);
            }
            &__count {
                color: var(--gr_accent_3);
            }
        }

        .partners-block {
            &__img {
                box-shadow: inset 0 0 0 2px var(--on_gr_bg_border2);
            }
        }

        .footer__item {
            box-shadow: 0 2px 0 0 var(--on_gr_bg_border2);

            &:last-child {
                box-shadow: none;
            }
        }
    }


    &.ls_3 {
        letter-spacing: 5px;
    }

    &.ls_2 {
        letter-spacing: 2.16px;
    }


    &.img_setting_2 {
        img {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }
    &.img_setting_3 {
        img {
            visibility: hidden;
            opacity: 0;
        }
        .show-text {
            visibility: visible;
            opacity: 1;
        }

        .services-block__item {
            box-shadow: inset 0 0 0 2px var(--on_gr_bg_border2);
        }

        .social-icon {
            img {
                opacity: 1;
                visibility: visible;
                filter: grayscale(100%);
            }
        }
        .site-info__img {
            img {
                opacity: 1;
                visibility: visible;
                filter: grayscale(100%);
            }
        }        
        .partners-block {
            &__img {
                box-shadow: none;
            }
        }
    }


    &.fs_150 {
        $siteWidth: 1600px;
        .block-width {
            max-width: $siteWidth;
        }

        .gr-large-btn-desktop {
            padding: 26.5px 30px;
        }
        .gr-large-btn-tablet {
            @media all and (max-width: 1260px) {
                padding: 22.5px 30px;
            }
        }
        .gr-large-btn-mobile {
            @media all and (max-width: 767px) {
                padding: 20.5px 28px;
            }
        }
        
        
        .gr-medium-btn-desktop {
            padding: 21.5px 30px;
        }
        .gr-medium-btn-tablet {
            @media all and (max-width: 1260px) {
                padding: 18.5px 30px;
            }
        }
        .gr-medium-btn-mobile {
            @media all and (max-width: 767px) {
                padding: 16.5px 28px;
            }
        }
        
        
        .gr-small-btn-desktop {
            padding: 16.5px 20px;
        }
        .gr-small-btn-tablet {
            @media all and (max-width: 1260px) {
                padding: 12.5px 20px;
            }
        }
        .gr-small-btn-mobile {
            @media all and (max-width: 767px) {
                padding: 13.5px 20px;
            }
        }


        .gr-large-icon-btn-desktop {
            width: 80px;
            height: 80px;
            min-height: 80px;
        }
        .gr-large-icon-btn-tablet {
            @media all and (max-width: 1260px) {
                width: 72px;
                height: 72px;
                min-height: 72px;
            }
        }
        .gr-large-icon-btn-mobile {
            @media all and (max-width: 767px) {
                width: 68px;
                height: 68px;
                min-height: 68px;
            }
        }

        .gr-medium-icon-btn-desktop {
            width: 70px;
            height: 70px;
            min-height: 70px;
        }
        .gr-medium-icon-btn-tablet {
            @media all and (max-width: 1260px) {
                width: 64px;
                height: 64px;
                min-height: 64px;
            }
        }
        .gr-medium-icon-btn-mobile {
            @media all and (max-width: 767px) {
                width: 60px;
                height: 60px;
                min-height: 60px;
            }
        }

        .gr-small-icon-btn-desktop {
            width: 60px;
            height: 60px;
            min-height: 60px;
        }
        .gr-small-icon-btn-tablet {
            @media all and (max-width: 1260px) {
                width: 52px;
                height: 52px;
                min-height: 52px;
            }
        }
        .gr-small-icon-btn-mobile {
            @media all and (max-width: 767px) {
                width: 52px;
                height: 52px;
                min-height: 52px;
            }
        }
        
        .tns-nav {
            button {
                margin: 0 4.5px;
                min-height: 12px;
                height: 12px;
                width: 12px;

                @media all and (max-width: 767px) {
                    margin: 0 4px;
                    min-height: 10px;
                    height: 10px;
                    width: 10px;
                }
            }
        }

        .header {
            .contacts-block {
                &__social {
                    width: 40px;
                    height: 40px;
                }
                &__more_btn {
            
                    .gr-svg-icon {
                        display: block; 
            
                        &.gr_small_icon,
                        &.gr_big_icon {
                            display: none;
                        }
                    }
                }
            }
        }

        .main-slider {
            background: var(--on_gr_bg_bg);

            &__inner {
                height: auto;
                padding: 0;
                box-shadow: 0 2px 0 0 var(--on_gr_bg_border2);
            }

            &__body {
                max-width: 100%;
            }

            &__img {
                @media all and (min-width: 1421px) {  
                    min-height: 660px;
                    position: relative;
                    padding: 0;
                }
            }

            &__content {
                min-height: auto;
                padding: 0 40px;
                
                @media all and (max-width: 1023px) {   
                    padding: 0 30px;
                }
            
                @media all and (max-width: 767px) {   
                    padding: 0 20px;
                }
            }

            &__text {
                max-width: 100%;
                padding: 50px 0;
                box-shadow: none;
                max-width: $siteWidth;
                margin: 0 auto;
            }

            .main-slider__controls {
                padding: 0 40px;
            
                @media all and (min-width: 1421px) {  
                    bottom: auto;
                    top: 550px;
                }
                
                @media all and (max-width: 1023px) {   
                    padding: 0 30px;
                }
            
                @media all and (max-width: 767px) {   
                    padding: 0 20px;
                }
            }
        }

        .services-block {
            &__text {
                padding: 50px;
            }
        }

        .advantage-block {
            &__items {
                flex-direction: column;
            }

            &__item {
                width: 100%;
            }
        }
        
        .reviews-block {
            &__body {
                padding: 50px;
            }
        }

        .gallery-block {
            padding: 0 40px;
                    
            @media all and (max-width: 1023px) {   
                padding: 0 30px;
            }
        
            @media all and (max-width: 767px) {   
                padding: 0 20px;
            }
        }

        .form-block {
            &__content {
                padding: 50px;
            }
        }

        .articles-block {
            &__content {
                padding: 50px;
            }
        }

        .faq-block {
            &__question {
                padding: 30px 30px 30px 50px;
            }
        }

        .footer {

            &__social {
                flex-wrap: wrap;
            }

            &__copyright {
                flex-wrap: wrap;
            }

            .phones-block {
                &__link {
                    width: 40px;
                    height: 40px;
                }
            }

            .literary-property {
                order: 1;
                width: 100%;
                padding: 0;
                margin-top: 50px;
            }

            .social-block {
                flex: 1 0 190px;

                &__list {
                    li {
                        a {
                            width: 70px;
                            height: 70px;
                        }
                    }
                }
            }

            .counter-block {
                flex: 1 0 100%;
                order: 1;
                width: 100%;
                padding: 0;
                margin-top: 50px;
            }
        }

    }


    &.fs_200 {
        $siteWidth: 1920px;
        .block-width {
            max-width: $siteWidth;
        }

        .gr-large-btn-desktop {
            padding: 27px 40px;
        }
        .gr-large-btn-tablet {
            @media all and (max-width: 1260px) {
                padding: 23px 40px;
            }
        }
        .gr-large-btn-mobile {
            @media all and (max-width: 767px) {
                padding: 21px 38px;
            }
        }
        
        
        .gr-medium-btn-desktop {
            padding: 22px 40px;
        }
        .gr-medium-btn-tablet {
            @media all and (max-width: 1260px) {
                padding: 19px 40px;
            }
        }
        .gr-medium-btn-mobile {
            @media all and (max-width: 767px) {
                padding: 17px 38px;
            }
        }
        
        
        .gr-small-btn-desktop {
            padding: 22px 40px;
        }
        .gr-small-btn-tablet {
            @media all and (max-width: 1260px) {
                padding: 13px 40px;
            }
        }
        .gr-small-btn-mobile {
            @media all and (max-width: 767px) {
                padding: 14px 30px;
            }
        }


        .gr-large-icon-btn-desktop {
            width: 90px;
            height: 90px;
            min-height: 90px;
        }
        .gr-large-icon-btn-tablet {
            @media all and (max-width: 1260px) {
                width: 82px;
                height: 82px;
                min-height: 82px;
            }
        }
        .gr-large-icon-btn-mobile {
            @media all and (max-width: 767px) {
                width: 78px;
                height: 78px;
                min-height: 78px;
            }
        }

        .gr-medium-icon-btn-desktop {
            width: 80px;
            height: 80px;
            min-height: 80px;
        }
        .gr-medium-icon-btn-tablet {
            @media all and (max-width: 1260px) {
                width: 74px;
                height: 74px;
                min-height: 74px;
            }
        }
        .gr-medium-icon-btn-mobile {
            @media all and (max-width: 767px) {
                width: 70px;
                height: 70px;
                min-height: 70px;
            }
        }

        .gr-small-icon-btn-desktop {
            width: 70px;
            height: 70px;
            min-height: 70px;
        }
        .gr-small-icon-btn-tablet {
            @media all and (max-width: 1260px) {
                width: 62px;
                height: 62px;
                min-height: 62px;
            }
        }
        .gr-small-icon-btn-mobile {
            @media all and (max-width: 767px) {
                width: 62px;
                height: 62px;
                min-height: 62px;
            }
        }
        
        .tns-nav {
            button {
                margin: 0 6px;
                min-height: 15px;
                height: 15px;
                width: 15px;

                @media all and (max-width: 767px) {
                    margin: 0 4.5px;
                    min-height: 12px;
                    height: 12px;
                    width: 12px;
                }
            }
        }

        .header {
            .contacts-block {
                &__social {
                    width: 45px;
                    height: 45px;
                }
                &__more_btn {
            
                    .gr-svg-icon {
                        display: none; 
            
                        &.gr_big_icon {
                            display: block;
                        }
                    }
                }
            }
        }

        .main-slider {
            background: var(--on_gr_bg_bg);

            &__inner {
                height: auto;
                box-shadow: 0 2px 0 0 var(--on_gr_bg_border2);
            }
            &__arrow {
                svg {
                    width: 45px;
                    height: 45px;
                }
            }

            &__images {
                position: relative;

                .tns-inner {
                    position: relative;
                }
            }

            &__img {
                padding-top: 800px;
            }

            &__content {
                padding: 0;
                min-height: auto;
            }

            &__text {
                max-width: 100%;
                padding: 60px 0;
                box-shadow: none;
            }

            .main-slider__controls {
                bottom: auto;
                top: -100px;
            }
        }

        .services-block {
            &__addition {
                flex-direction: column;
                align-items: flex-start;
            }
            &__btn {
                width: 100%;
                margin: 40px 0 0;
            }

            &__text {
                padding: 60px;
            }
        }

        .reviews-block {
            &__body {
                padding: 60px;
                &:before {
                    width: 40px;
                    height: 40px;
                    left: 51px;
                    bottom: -16px;
                }
                &:after {
                    width: 40px;
                    height: 40px;
                    left: 51px;
                    bottom: -18px;
                }
            }
        }

        .gallery-block {
            @extend .block-padding;
        }

        .form-block {
            &__content {
                flex-direction: column;
                text-align: center;
                justify-content: center;
                align-items: center;
                padding: 60px;
            }

            &__btn {
                margin: 40px 0 0 0;
            }

            &__icon {
                width: 200px;
                height: 200px;
                margin-top: -100px;
                left: -100px;
            }
        }

        .articles-block {
            &__content {
                padding: 60px;
            }
        }

        .advantage-block {
            &__items {
                flex-direction: column;
            }

            &__item {
                width: 100%;
            }
        }
        
        .faq-block {
            &__question {
                padding: 50px;
                
                &:before {
                    width: 40px;
                    height: 40px;
                    left: 51px;
                    bottom: -16px;
                }
                &:after {
                    width: 40px;
                    height: 40px;
                    left: 51px;
                    bottom: -18px;
                }
            }
            &__arrow {
                .gr-svg-icon {
                    display: block;

                    &.gr_small_icon,
                    &.gr_big_icon {
                        display: none;
                    }
                }
            }
        }

        .partners-block {
            &__img {                
                padding-top: 41.4%;
            } 
        }

        .footer {

            &__social {
                flex-wrap: wrap;
            }

            &__copyright {
                flex-wrap: wrap;
            }

            &__contacts {
                flex-wrap: wrap;
            }

            .phones-block {
                flex: 1 1 60%;
                &__link {
                    width: 45px;
                    height: 45px;
                }
            }

            .address-block {
                flex: 1 0 100%;
                order: 1;
                width: 100%;
                padding: 0;
                margin-top: 60px;
            }

            .schedule-block {
                flex: 1 1 40%;
            }

            .literary-property {
                order: -1;
                width: 100%;
                padding: 0;
                margin-bottom: 60px;
            }

            .social-block {
                flex: 1 0 190px;

                &__list {
                    li {
                        a {
                            width: 80px;
                            height: 80px;
                        }
                    }
                }
            }

            .counter-block {
                flex: 1 0 100%;
                order: 1;
                width: 100%;
                padding: 0;
                margin-top: 60px;
            }

            .link-top-btn {
                .gr-svg-icon {
                    display: block;
    
                    &.gr_small_icon,
                    &.gr_big_icon {
                        display: none;
                    }
                }
            }
        }

    }
}