.main-slider {
    position: relative;
    padding: 0;       
    background: var(--gr_bg);

    @media all and (max-width: 1420px) {        
        background: var(--on_gr_bg_bg);
    }

    &__body {
        height: 100%;
        border-bottom: 2px solid transparent;

        @media all and (max-width: 1420px) {   
            height: auto;
            max-width: 100%;
        }
    }


    @media all and (min-width: 1421px) {  
        .tns-outer {
            position: static;
        }
    }

    &__controls {
        position: absolute;
        width: 100%;
        bottom: 60px;
        right: 0;
        z-index: 10;

        @media all and (max-width: 1420px) {   
            bottom: auto;
            top: 380px;
        }

        @media all and (max-width: 1260px) {   
            top: 305px;
            justify-content: center;
        }

        @media all and (max-width: 1023px) {   
            top: 240px;
        }

        @media all and (max-width: 767px) {   
            top: 130px;
        }

        &_inner {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media all and (max-width: 1260px) {   
                justify-content: center;
            }
        }
    }

    &__arrows {
        display: flex;
    }

    &__arrow {
		@extend .gr-icon-btn-1;

        &.main-slider__arrow_next {
            margin-left: 10px;
        }
    }
    
    .tns-nav {
        margin: 0;

        button {
            background: var(--on_gr_bg_bg);
            opacity: .15;

            &.tns-nav-active {
                opacity: 1;
                background: var(--on_gr_bg_bg);

                &:hover,
                &:active {
                    opacity: 1;
                    background: var(--on_gr_bg_bg);
                }
            }

            &:hover,
            &:active {
                opacity: 1;
                background: var(--on_gr_bg_bg);
            }
        }
    }

    &__inner {
        height: 100%;
        position: relative;

        @media all and (max-width: 1420px) {   
            height: auto;
            padding: 0;
        }
    }
    &__img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        @media all and (max-width: 1420px) {   
            min-height: 470px;
            position: relative;
            padding: 0;
        }

        @media all and (max-width: 1260px) {   
            min-height: 350px;
        }

        @media all and (max-width: 1023px) {   
            min-height: 270px;
        }

        @media all and (max-width: 767px) {   
            min-height: 160px;
        }

        img {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__items {
        height: 100%;
        position: static;
    }
    &__item {
        position: static;

        @media all and (min-width: 1421px) {   
            &.tns-slide-active {
                position: static;
            }
        }

        &.fadeIn {
            .main-slider__content {
                display: flex;
            }
        }
        &.fadeOut {
            .main-slider__content {
                display: none;
            }
        }
    }
    &__content {
        display: flex;
        align-items: center;
        min-height: 660px;
        padding: 140px 0;
        position: relative;

        @media all and (max-width: 1420px) {   
            min-height: unset;
            padding: 0 40px;
        }

        @media all and (max-width: 1023px) {   
            padding: 0 30px;
        }
    
        @media all and (max-width: 767px) {   
            padding: 0 20px;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 600px;
        background: var(--on_gr_bg_bg);
        padding: 40px;
        border-radius: var(--gr_wrap_radius);

        @media all and (max-width: 1420px) {   
            max-width: 100%;
            box-shadow: none;
        }

        @media all and (max-width: 1260px) {   
            padding: 40px 0;
        }

        @media all and (max-width: 1023px) {   
            padding: 30px 0;
        }

        @media all and (max-width: 767px) {   
            padding: 20px 0;
        }
    }
    &__title {
        h2 {
            margin-bottom: 0;
        }
    }
    &__desc {
        margin-top: 10px;
        font-size: calc(17px * var(--font1Ratio));

        @media all and (max-width: 767px) {   
            font-size: calc(16px * var(--font1Ratio));
        }
    }
    &__btn {
        margin-top: 30px;

        @media all and (max-width: 1023px) {   
            margin-top: 20px;
        }

        @media all and (max-width: 767px) {   
            margin-top: 18px;
        }

        @media all and (max-width: 639px) {   
            width: 100%;
        }
    }

    
    .show-text {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        text-align: center;
        border-top: 2px dashed var(--on_gr_bg_border2);
        border-bottom: 2px dashed var(--on_gr_bg_border2);
        padding: 50px 0;

        font-size: calc(16px * var(--font1Ratio));

        span {
            display: flex;
            width: 100%;
            max-width: $siteWidth;
            margin: 0 auto;
            text-align: center;
            justify-content: center;
        }
    }
}