$siteFontFamily: var(--font1);			// Основное семейство	



*,
*::before,
*::after {
  box-sizing: border-box;
}

::-moz-selection {
    color: var(--on_gr_accent_text);
    background: var(--gr_accent);
}
::selection {
    color: var(--on_gr_accent_text);
    background: var(--gr_accent);
}

body,
html {
    height: 100%;
    min-width: 320px;
}

html {
    font-size: calc(18px * var(--font1Ratio));
}

body {
    margin: 0;
    position: relative;
    min-width: 320px;
    text-align: left;
    font-family: var(--font1);
    font-weight: var(--font1_400);
    background: var(--gr_bg);
    line-height: calc(1.5 * var(--lineHeightRatio));
    color: var(--on_gr_bg_sec_text);

    &.ls_3 {
        letter-spacing: 5px;
    }

    &.ls_2 {
        letter-spacing: 2.16px;
    }

    &.img_setting_3 {
        img {
            visibility: hidden;
            opacity: 0;
        }
        .show-text {
            display: block;
        }
    }

    &.img_setting_2 {
        img {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }

    &.fs_200 {
        svg {
            zoom: 200%;
        }
    }

    &.fs_150 {
        svg {
            zoom: 150%;
        }
    }
}

.show-text {
    display: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--on_gr_bg_acc_text);
    font-family: var(--font2);
    font-weight: var(--font2_700);
    font-style: normal;
    line-height: calc(1.2 * var(--lineHeightRatio));
}

h1 {
    font-size: calc(36px * var(--font2Ratio));
    margin: 0 0 30px;

    @media all and (max-width: 1260px) {
        font-size: calc(34px * var(--font2Ratio));
        margin: 0 0 20px;
    }

    @media all and (max-width: 767px) {
        font-size: calc(30px * var(--font2Ratio));
        margin: 0 0 16px;
    }

    @media all and (max-width: 639px) {
        font-size: calc(26px * var(--font2Ratio));
    }
}
h2 {
    font-size: calc(32px * var(--font2Ratio));
    margin: 0 0 30px;

    @media all and (max-width: 1260px) {
        font-size: calc(30px * var(--font2Ratio));
        margin: 0 0 20px;
    }

    @media all and (max-width: 767px) {
        font-size: calc(26px * var(--font2Ratio));
        margin: 0 0 16px;
    }

    @media all and (max-width: 639px) {
        font-size: calc(22px * var(--font2Ratio));
    }
}
h3 {
    font-size: calc(29px * var(--font2Ratio)); 
    margin: 0 0 25px;

    @media all and (max-width: 1260px) {
        font-size: calc(26px * var(--font2Ratio)); 
        margin: 0 0 20px;
    }

    @media all and (max-width: 767px) {
        font-size: calc(24px * var(--font2Ratio));
        margin: 0 0 16px;
    }

    @media all and (max-width: 639px) {
        font-size: calc(20px * var(--font2Ratio));
    }
}
h4 {
    font-size: calc(26px * var(--font2Ratio)); 
    margin: 0 0 20px;

    @media all and (max-width: 1260px) {
        font-size: calc(22px * var(--font2Ratio)); 
        margin: 0 0 15px;
    }

    @media all and (max-width: 767px) {
        font-size: calc(20px * var(--font2Ratio)); 
        margin: 0 0 10px;
    }

    @media all and (max-width: 639px) {
        font-size: calc(18px * var(--font2Ratio));
    }
}
h5 {
    font-size: calc(20px * var(--font2Ratio)); 
    margin: 0 0 15px;

    @media all and (max-width: 1260px) {
        font-size: calc(18px * var(--font2Ratio)); 
        margin: 0 0 10px;
    }

    @media all and (max-width: 639px) {
        font-size: calc(16px * var(--font2Ratio)); 
    }
}
h6 {
    font-size: calc(16px * var(--font2Ratio)); 
    margin: 0 0 15px;

    @media all and (max-width: 767px) {
        margin: 0 0 10px;
    }
}

.block-width {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.block-padding {
    padding: 0 40px;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex: 1 0 auto;
    background: var(--on_gr_bg_bg);
    margin-bottom: 100px;

    &__inner {
        padding: 100px 0;
    }

    &__title {

    }

    &__text {

    }

    &__btn {
        margin-top: 40px;
    }
}

*:focus {
    outline: dashed;
}

button {
    padding: 0;
    margin: 0;
    outline: none;
    background: none;
    border: 0;
    cursor: pointer;
}

.hide {
    display: none;
}

.gr-svg-icon {
    width: 30px;
    height: 30px; 

    &.gr_small_icon, &.gr_big_icon {
        display: none;
    }
    
    &.gr_small_icon {
    	width: 20px;
    	height: 20px;
    }

    &.gr_big_icon {
        width: 40px;
        height: 40px;
    }
}




@import '_buttons.scss';
@import '_settings_panel.scss';

@import '_header.scss';
@import '_slider.scss';
@import '_services_block.scss';
@import '_reviews_block.scss';
@import '_gallery_block.scss';










.play {
  margin-right: 0.5rem;
  float: left;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  position: relative;
}
.play:focus::before {
  content: "👉";
  position: absolute;
  left: -1.25rem;
  top: 0.1rem;
  font-size: 1rem;
}
.play::after {
  content: "🔊";
}
.pause::after {
  content: "🔇";
}
.resume::after {
  content: "🔉";
}

.test {
  max-width: 1200px;
  margin: 0 auto;
}