$siteFontFamily: var(--font1);			// Основное семейство	
$siteWidth: 1200px;	

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-moz-selection {
    color: var(--on_gr_accent_text);
    background: var(--gr_accent);
}
::selection {
    color: var(--on_gr_accent_text);
    background: var(--gr_accent);
}

body,
html {
    height: 100%;
    min-width: 320px;
}

html {
    font-size: calc(18px * var(--font1Ratio));
}

body {
    margin: 0;
    position: relative;
    min-width: 320px;
    text-align: left;
    font-family: var(--font1);
    font-weight: var(--font1_400);
    background: var(--gr_bg);
    line-height: calc(1.5 * var(--lineHeightRatio));
    color: var(--on_gr_bg_sec_text);
}

.show-text {
    visibility: hidden;
    opacity: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--on_gr_bg_acc_text);
    font-family: var(--font2);
    font-weight: var(--font2_700);
    font-style: normal;
    line-height: calc(1.2 * var(--lineHeightRatio));
}

h1 {
    font-size: calc(36px * var(--font2Ratio));
    margin: 0 0 30px;

    @media all and (max-width: 1260px) {
        font-size: calc(34px * var(--font2Ratio));
        margin: 0 0 20px;
    }

    @media all and (max-width: 1023px) {
        font-size: calc(30px * var(--font2Ratio));
        margin: 0 0 16px;
    }

    @media all and (max-width: 767px) {
        font-size: calc(26px * var(--font2Ratio));
    }
}
h2 {
    font-size: calc(32px * var(--font2Ratio));
    margin: 0 0 30px;

    @media all and (max-width: 1260px) {
        font-size: calc(30px * var(--font2Ratio));
        margin: 0 0 20px;
    }

    @media all and (max-width: 1023px) {
        font-size: calc(26px * var(--font2Ratio));
        margin: 0 0 16px;
    }

    @media all and (max-width: 767px) {
        font-size: calc(22px * var(--font2Ratio));
    }
}
h3 {
    font-size: calc(29px * var(--font2Ratio)); 
    margin: 0 0 25px;

    @media all and (max-width: 1260px) {
        font-size: calc(26px * var(--font2Ratio)); 
        margin: 0 0 20px;
    }

    @media all and (max-width: 1023px) {
        font-size: calc(24px * var(--font2Ratio));
        margin: 0 0 16px;
    }

    @media all and (max-width: 767px) {
        font-size: calc(20px * var(--font2Ratio));
    }
}
h4 {
    font-size: calc(26px * var(--font2Ratio)); 
    margin: 0 0 20px;

    @media all and (max-width: 1260px) {
        font-size: calc(22px * var(--font2Ratio)); 
        margin: 0 0 15px;
    }

    @media all and (max-width: 1023px) {
        font-size: calc(20px * var(--font2Ratio)); 
        margin: 0 0 10px;
    }

    @media all and (max-width: 767px) {
        font-size: calc(18px * var(--font2Ratio));
    }
}
h5 {
    font-size: calc(20px * var(--font2Ratio)); 
    margin: 0 0 15px;

    @media all and (max-width: 1260px) {
        font-size: calc(18px * var(--font2Ratio)); 
        margin: 0 0 10px;
    }

    @media all and (max-width: 767px) {
        font-size: calc(16px * var(--font2Ratio)); 
    }
}
h6 {
    font-size: calc(16px * var(--font2Ratio)); 
    margin: 0 0 15px;

    @media all and (max-width: 767px) {
        margin: 0 0 10px;
    }
}


.block-width {
    margin: 0 auto;
    width: 100%;
    max-width: $siteWidth;
}
.block-padding {
    padding: 0 40px;

    @media all and (max-width: 1023px) {   
        padding: 0 30px;
    }

    @media all and (max-width: 767px) {   
        padding: 0 20px;
    }
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex: 1 0 auto;
    background: var(--on_gr_bg_bg);

    &__inner {
        padding: 100px 0;

        @media all and (max-width: 1420px) {
            padding: 60px 0;
        }

        @media all and (max-width: 1023px) {
            padding: 30px 0;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    &__title {

    }

    &__text {

    }

    &__btn {
        margin-top: 40px;

        @media all and (max-width: 1023px) {
            margin-top: 30px;
            width: 100%;
        }
    }
}

*:focus {
    outline: dashed;
}

button {
    padding: 0;
    margin: 0;
    outline: none;
    background: none;
    border: 0;
    cursor: pointer;
}

.hide {
    display: none;
}

.overflowHidden {
    overflow: hidden;
}

.gr-svg-icon {
    width: 30px;
    height: 30px; 

    &.gr_small_icon, &.gr_big_icon {
        display: none;
    }
    
    &.gr_small_icon {
    	width: 20px;
    	height: 20px;
    }

    &.gr_big_icon {
        width: 40px;
        height: 40px;
    }
}




@import '_plugins.scss';

@import '_site_settings.scss';

@import '_buttons.scss';
@import '_settings_panel.scss';

@import '_header.scss';
@import '_slider.scss';
@import '_services_block.scss';
@import '_reviews_block.scss';
@import '_gallery_block.scss';
@import '_form_block.scss';
@import '_articles_block.scss';
@import '_advantage_block.scss';
@import '_faq_block.scss';
@import '_partners_block.scss';
@import '_footer.scss';


@import '_burger_block.scss';



.block-on-main {
    margin-bottom: 100px;

    @media all and (max-width: 1420px) {
        margin-bottom: 60px;
    }

    @media all and (max-width: 1023px) {
        margin-bottom: 30px;
    }

    @media all and (max-width: 639px) {
        margin-bottom: 20px;
    }

    &__title {
        @media all and (max-width: 639px) {
            text-align: center;
            width: 100%;
        }

        h2 {            
            margin: 0;
        }
    }

    &__desc {
        margin-top: 6px;
        line-height: calc(1.2 * var(--lineHeightRatio));

        @media all and (max-width: 639px) {
            font-size: calc(16px * var(--font1Ratio));
            text-align: center;
        }
    }

    &__more {
        display: none;

        &_top {
            display: none;
            
            @media all and (min-width: 1024px) {
                display: inline-flex;    
                margin-left: 15px; 
            }
        }

        @media all and (max-width: 1023px) {
            display: inline-flex;     
            width: 100%;   
            margin: 30px 0 0;
        }

        @media all and (max-width: 639px) {
            margin-top: 20px;
        }
    }
}

.slider-style {
}
.site-nav-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    @media all and (max-width: 1260px) {   
        margin-top: 35px;
        justify-content: center;
    }

    @media all and (max-width: 1023px) {
        margin-top: 30px;
    }

    @media all and (max-width: 639px) {
        margin-top: 20px;
    }

    .tns-nav {
        margin: 0;
    }

    .tns-outer {
        position: relative;
    }

    .tns-controls {
        display: flex;
        justify-content: flex-end;

        button[data-controls="next"] {
            margin-left: 10px;
        }
    }
}
