*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.block-width {
    margin: 0 auto;
    max-width: 1200px;
}
.block-padding {
    padding: 0 40px;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex: 1 0 auto;
}



@import '_header.scss';
@import '_slider.scss';










button {
  margin-right: 0.5rem;
  float: left;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  position: relative;
}
button:focus::before {
  content: "👉";
  position: absolute;
  left: -1.25rem;
  top: 0.1rem;
  font-size: 0.9rem;
}
.play::after {
  content: "🔊";
}
.pause::after {
  content: "🔇";
}
.resume::after {
  content: "🔉";
}