$siteFontFamily: var(--font1);			// Основное семейство
$siteFontSize: 16px;				    // Основной размер			

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
    height: 100%;
    min-width: 320px;
}

html {
    font-size: $siteFontSize;
}

body {
    margin: 0;
    position: relative;
    min-width: 320px;
    text-align: left;
    font-family: var(--font1);
    font-weight: var(--font1_400);
    background: var(--on_gr_bg_bg);
    line-height: 1.2;
    color: var(--on_gr_bg_sec_text);
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--on_gr_bg_acc_text);
    font-family: var(--font2);
    font-weight: var(--font2_700);
    font-style: normal;
    line-height: 1.2;
}

h1 {
    font-size: 2.25rem;
    margin: 0 0 30px;

    @media all and (max-width: 1023px) {
        margin: 0 0 20px;
    }

    @media all and (max-width: 767px) {
        margin: 0 0 16px;
    }
}
h2 {
    font-size: 2rem;
    margin: 0 0 30px;

    @media all and (max-width: 1023px) {
        margin: 0 0 20px;
    }

    @media all and (max-width: 767px) {
        margin: 0 0 16px;
    }
}
h3 {
    font-size: 1.8125rem; 
    margin: 0 0 25px;

    @media all and (max-width: 1023px) {
        margin: 0 0 20px;
    }

    @media all and (max-width: 767px) {
        margin: 0 0 16px;
    }
}
h4 {
    font-size: 1.625rem; 
    margin: 0 0 20px;

    @media all and (max-width: 1023px) {
        margin: 0 0 15px;
    }

    @media all and (max-width: 767px) {
        margin: 0 0 10px;
    }
}
h5 {
    font-size: 1.25rem; 
    margin: 0 0 15px;

    @media all and (max-width: 1023px) {
        margin: 0 0 10px;
    }
}
h6 {
    font-size: 1rem; 
    margin: 0 0 15px;

    @media all and (max-width: 767px) {
        margin: 0 0 10px;
    }
}

.block-width {
    margin: 0 auto;
    max-width: 1200px;
}
.block-padding {
    padding: 0 40px;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex: 1 0 auto;
}

*:focus {
    outline: dashed;
}

button {
    padding: 0;
    margin: 0;
    outline: none;
    background: none;
    border: 0;
    cursor: pointer;
}

.hide {
    display: none;
}



@import '_header.scss';
@import '_slider.scss';










.play {
  margin-right: 0.5rem;
  float: left;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  position: relative;
}
.play:focus::before {
  content: "👉";
  position: absolute;
  left: -1.25rem;
  top: 0.1rem;
  font-size: 0.9rem;
}
.play::after {
  content: "🔊";
}
.pause::after {
  content: "🔇";
}
.resume::after {
  content: "🔉";
}

.test {
  max-width: 1200px;
  margin: 0 auto;
}